.color {
  width: 50px;
  height: 14px;
  border-radius: 2px;
  background-color: #fff;
}
.swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
}
.popover {
  position: absolute;
  z-index: 2;
}
.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
