.terrain__container {
  background: #fff;
  border: 1px solid #888888;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  width: 100px;
  height: 100px;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
}

.terrain__container--small {
  @extend .terrain__container;
  width: 32px;
  height: 32px;
}
